[user]
	email = srvcs@posteo.net
	name = Carles Rafols
[core]
	pager = less
[alias]
    s = status
    a = add
    c = commit
    p = push
    b = branch
    r = reset
    f = fetch --all --prune
    rh = reset --hard
    ca = commit -a --amend --no-edit
    ch = checkout
    sw = switch
    l = !git --no-pager log -20 --oneline --graph --all
    lf = log --oneline --graph --all
    ls = ls-tree --name-only HEAD
    fls = ls-tree -r --name-only --full-tree HEAD
    df = !git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME
