set editing-mode vi
set keyseq-timeout 200
$if mode=vi
    set show-mode-in-prompt on
    set vi-ins-mode-string \1\e[\033[38;5;226m\2(ins)\1\e[m\2
    set vi-ins-mode-string \1\e[\033[38;5;226m\2(ins)\1\e[m\e[6 q\2
    set keymap vi-insert
    "\C-a": beginning-of-line
    "\C-e": end-of-line
    "lk": vi-movement-mode
    "\C-p": previous-history
    "\C-n": next-history
    "\C-L": clear-screen
    set keymap vi-command
    set vi-cmd-mode-string \1\e[\033[38;5;20m\2(cmd)\1\e[m\e[2 q\2
$endif



# REFERENCES

# General explanation:
# https://unix.stackexchange.com/questions/303479/what-are-readlines-modes-keymaps-and-their-default-bindings
# https://unix.stackexchange.com/questions/303631/how-can-i-setup-a-hybrid-readline-with-emacs-insert-mode-and-vi-command-mode?noredirect=1&lq=1

# For cursor style:
# https://stackoverflow.com/questions/7888387/the-way-to-distinguish-command-mode-and-insert-mode-in-bashs-vi-command-line-ed

# For color:
# https://stackoverflow.com/questions/1039713/different-bash-prompt-for-different-vi-editing-mode
# https://www.cyberciti.biz/faq/bash-shell-change-the-color-of-my-shell-prompt-under-linux-or-unix/
# https://unix.stackexchange.com/questions/124407/what-color-codes-can-i-use-in-my-ps1-prompt
