set bind-tty-special-chars off
set editing-mode vi
set keyseq-timeout 200
set keyseq-timeout 1
set completion-ignore-case on
set show-all-if-ambiguous on
set menu-complete-display-prefix on
$if mode=vi
    set show-mode-in-prompt on
    set keymap vi-insert
    set vi-ins-mode-string ins 
    set vi-ins-mode-string \1\033[1m\033[38;5;14m\2 >>> \1\033[m\e[6 q\2
    "\C-a": "\033^cW"
    "\C-e": end-of-line
    # "lk": vi-movement-mode
    "\C-p": previous-history
    "\C-n": next-history
    "\C-L": clear-screen
    "\t": menu-complete
    "\e[Z": menu-complete-backward
    set keymap vi-command
    set vi-cmd-mode-string \1\033[1m\033[38;5;14m\2 >>> \1\033[m\e[2 q\2
    "\C-a": "^cW"
    "\C-p": previous-history
    "\C-n": next-history
    "H": beginning-of-line
    "L": end-of-line
$endif


# Escape sequences:
# Begin color scheme: \033[<colorscheme>m
# Color scheme: XX;Y;ZZZ
# see https://en.wikipedia.org/wiki/ANSI_escape_code#Colors
# End color scheme: \033[0m

# REFERENCES

# General explanation:
# https://unix.stackexchange.com/questions/303479/what-are-readlines-modes-keymaps-and-their-default-bindings
# https://unix.stackexchange.com/questions/303631/how-can-i-setup-a-hybrid-readline-with-emacs-insert-mode-and-vi-command-mode?noredirect=1&lq=1

# For cursor style:
# https://stackoverflow.com/questions/7888387/the-way-to-distinguish-command-mode-and-insert-mode-in-bashs-vi-command-line-ed

# For color:
# https://stackoverflow.com/questions/1039713/different-bash-prompt-for-different-vi-editing-mode
# https://www.cyberciti.biz/faq/bash-shell-change-the-color-of-my-shell-prompt-under-linux-or-unix/
# https://unix.stackexchange.com/questions/124407/what-color-codes-can-i-use-in-my-ps1-prompt
